.main_door {
    height: 100vh;
    overflow: hidden;
    padding: 0;

    .door01 {
        background: url(../imges/md_01.jpg)no-repeat center center/cover;
        height: 100vh;
    }

    .door02 {
        background: url(../imges/md_02.jpg)no-repeat center center/cover;
        height: 100vh;
    }

    .tit {
        @include position_center();
        top: 250px;
        z-index: 998;
        white-space: nowrap;

        p {
            font-size: 22px;
            font-weight: 400;
            margin: 0 0 10px 0;

            strong {
                color: $color-red;
            }

            span {
                color: $color-red;
                font-style: italic;
                font-size: 25px;
                font-weight: 400;
                margin: 0 5px 0 0;
            }
        }

        h2 {
            font-size: 60px;
            font-weight: 700;
            color: $color-red;
            margin: 0 0 15px 0;
        }

        span {
            font-size: 14px;
            font-weight: 300;
            color: $color-dgray;
        }
    }
}

@media (max-width: 1024px) {

}

@media (max-width : 768px) {
    .main_door {
        
        .tit {
            top: 200px;

            p {
                font-size: 14px;

                span {
                    font-size: 20px;
                }
            }

            h2 {
                font-size: 30px;
            }

            span {
                font-size: 1.5vw;
            }
        }
    }
}