.main_premium8 {
    background: url(../imges/mp_bg.png)no-repeat center center/cover;
    background-color: $color-bg-dark;
    padding: 150px 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 55.3%;
        left: 50%;

        width: 1px;
        height: 100px;
        background: $color-dgray;
    }
    
    .inner {
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 60%;
            left: 25%;

            width: 1px;
            height: 100px;
            background: $color-dgray;
        }

        &::after {
            content: "";
            position: absolute;
            top: 60%;
            right: 25%;

            width: 1px;
            height: 100px;
            background: $color-dgray;
        }

        .tit {
            margin: 0 0 80px 0;

            p {
                font-size: 15px;
                font-weight: 300;
                color: $color-white0;
                margin: 0 0 5px 0;
            }

            h2 {
                font-size: 60px;
                font-weight: 700;
                color: $color-gray;
            }
        }
        .premium8_slide {
            cursor: pointer;
            min-height: 150px;

                .p_slide {
                    width: 296.5px;
                    text-align: center;
                    
                    img {
                        margin: 0 auto 15px auto;
                        cursor: pointer;
                    }

                    .txt {
                        padding: 0 30px;
                        h3 {
                            font-size: 18px;
                            font-weight: 500;
                            color: $color-gray;
                            margin: 0 0 10px 0;
                        }

                        p {
                            font-size: 13px;
                            font-weight: 300;
                            color: $color-white0;
                            line-height: 21px;
                            padding: 0 10px;
                        }
                    }
                    
                }
        }
        
    }
    
}

@media (max-width: 1024px) {
    .main_premium8 {
        padding: 100px 0;

        &::before{
            display: none;
        }

        .inner {
            &::before {
                left: 33.5%;
            }

            &::after {
                right: 33.5%;
            }

            .premium8_slide {
                .p_slide {
                    .txt {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main_premium8 {
        padding: 100px 0;

        &::before {
            height: 150px;
            top: 50%;
            display: block;
        }

        .inner {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            .tit {
                margin: 0 0 50px 0;
                p {
                    font-size: 13px;
                }

                h2 {
                    font-size: 40px;
                }
            }

            .premium8_slide {
                .p_slide {
                    .txt {
                        h3 {
                            font-size: 14px;
                        }

                        p {
                            font-size: 11px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
}