.main_premium8 {
    background: url(../imges/mp_bg.png)no-repeat center center/cover;
    background-color: $color-bg-dark;
    padding: 150px 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 55.3%;
        left: 50%;

        width: 1px;
        height: 100px;
        background: $color-dgray;
    }
    
    .inner {
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 60%;
            left: 25%;

            width: 1px;
            height: 100px;
            background: $color-dgray;
        }

        &::after {
            content: "";
            position: absolute;
            top: 60%;
            right: 25%;

            width: 1px;
            height: 100px;
            background: $color-dgray;
        }

        .tit {
            margin: 0 0 80px 0;

            p {
                font-size: 15px;
                font-weight: 300;
                color: $color-white0;
                margin: 0 0 5px 0;
            }

            h2 {
                font-size: 60px;
                font-weight: 700;
                color: $color-gray;
            }
        }
        .premium8_slide {
            cursor: pointer;

                .p_slide {
                    width: 296.5px;
                    text-align: center;
                    
                    img {
                        margin: 0 auto 15px auto;
                        cursor: pointer;
                    }

                    .txt {
                        h3 {
                            font-size: 18px;
                            font-weight: 500;
                            color: $color-gray;
                            margin: 0 0 10px 0;
                        }

                        p {
                            font-size: 13px;
                            font-weight: 300;
                            color: $color-white0;
                            line-height: 21px;
                        }
                    }
                    
                }
        }
        
    }
    
}