@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}

ul, ol, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

body {
  line-height: 1;
  color: #2a2a2a;
  font-family: "Noto Sans", "Noto Sans KR", "Roboto", sans-serif;
  letter-spacing: -0.025em;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sec {
  padding: 100px 0;
}
.sec .tit {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin: 0 auto 30px auto;
  text-align: center;
}
.sec .tit h2 {
  font-size: 36px;
  font-weight: 700;
}
.sec .tit p {
  font-size: 16px;
  font-weight: 400;
}
.sec .tit span {
  font-size: 12px;
  font-weight: 300;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 60px;
  background: none;
  z-index: 999;
  transition: 0.5s;
}
.header:hover {
  background: #fff;
}
.header.on {
  background: #fff;
}
.header::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 120px);
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.header .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .inner h1 {
  position: absolute;
  top: 43%;
  left: 3.5%;
  display: flex;
  align-items: center;
}
.header .inner .gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}
.header .inner .gnb::before {
  content: "";
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
  z-index: 998;
  transition: 0.3s;
  height: 0;
}
.header .inner .gnb:hover::before {
  height: 275px;
}
.header .inner .gnb:hover .lnb {
  display: block;
}
.header .inner .gnb ul {
  display: flex;
  gap: 50px;
}
.header .inner .gnb ul li {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #2a2a2a;
}
.header .inner .gnb ul li .gnb_list {
  display: block;
  line-height: 100px;
}
.header .inner .gnb ul li .gnb_list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3px;
  width: 0;
  background: #9a1915;
}
.header .inner .gnb ul li .gnb_list:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.header .inner .gnb ul li .lnb {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  display: none;
  white-space: nowrap;
  flex-direction: column;
  transition: 0.5s;
  text-align: center;
}
.header .inner .gnb ul li .lnb li {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #7e7e7e;
}
.header .inner .gnb ul li .lnb li:hover {
  color: #9a1915;
}
.header .inner .top_banner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 30px;
  background: url(../imges/header_banner.jpg) no-repeat center bottom/cover;
}
.header .inner .top_banner .banner_img {
  position: absolute;
  top: 0;
  right: 60px;
  background: url(../imges/header_bannerlogo.png) no-repeat;
  width: 100px;
  height: 30px;
  z-index: 998;
}
.header .inner .open {
  position: absolute;
  bottom: -115%;
  right: 3%;
  background: #9a1915;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
}
.header .inner .open span {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .inner .open::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 50%;
  width: 1px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
}
.header .inner .num {
  position: absolute;
  top: 50%;
  right: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header .inner .num span {
  font-size: 20px;
  font-weight: 500;
  line-height: 5px;
}
.header .inner .num strong {
  font-size: 26px;
  font-weight: 700;
}
.header .inner .menu_btn {
  position: absolute;
  top: 50%;
  right: 3%;
}

@media (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }
  .header::before {
    width: calc(100% - 40px);
  }
  .header .inner h1 {
    position: fixed;
    top: 50px;
    left: 20px;
  }
  .header .inner h1 img {
    width: 150px;
  }
  .header .inner .gnb {
    justify-content: space-around;
  }
  .header .inner .gnb::before {
    top: 100px;
  }
  .header .inner .gnb:hover::before {
    height: 230px;
  }
  .header .inner .gnb ul {
    gap: 25px;
  }
  .header .inner .gnb ul li {
    font-size: 16px;
  }
  .header .inner .gnb ul li .gnb_list {
    line-height: 70px;
  }
  .header .inner .gnb ul li .lnb {
    top: 100px;
  }
  .header .inner .gnb ul li .lnb li {
    font-size: 12px;
    line-height: 24px;
  }
  .header .inner .top_banner .banner_img {
    right: 20px;
  }
  .header .inner .open {
    bottom: -125%;
    width: 75px;
    height: 75px;
  }
  .header .inner .open span {
    font-size: 14px;
    line-height: 18px;
  }
  .header .inner .num {
    top: 55px;
  }
  .header .inner .num img {
    width: 15px;
  }
  .header .inner .num span {
    font-size: 16px;
  }
  .header .inner .num strong {
    font-size: 20px;
  }
  .header .inner .menu_btn {
    top: 52.5px;
    right: 20px;
  }
  .header .inner .menu_btn img {
    width: 25px;
  }
}
@media (max-width: 768px) {
  .header {
    background: #fff;
  }
  .header .inner .gnb {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 50px 20px 0 20px;
  }
  .header .inner .gnb::before {
    width: 0;
  }
  .header .inner .gnb:hover::before {
    height: 0;
  }
  .header .inner .gnb ul {
    flex-direction: column;
    gap: 0;
    text-align: left;
  }
  .header .inner .gnb ul li .gnb_list {
    line-height: 50px;
  }
  .header .inner .gnb ul li .gnb_list::after {
    display: none;
  }
  .header .inner .gnb ul li .lnb {
    position: static;
    transform: translate(0, 0);
    display: none;
    transition: 0.5s;
  }
  .header .inner .gnb ul li .lnb li {
    line-height: 20px;
    text-align: left;
  }
  .header .inner .gnb ul li .lnb.on {
    display: block;
  }
  .header .inner .gnb.on {
    display: block;
  }
  .header .inner .num {
    display: none;
  }
}
.main_door {
  height: 100vh;
  overflow: hidden;
  padding: 0;
}
.main_door .door01 {
  background: url(../imges/md_01.jpg) no-repeat center center/cover;
  height: 100vh;
}
.main_door .door02 {
  background: url(../imges/md_02.jpg) no-repeat center center/cover;
  height: 100vh;
}
.main_door .tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 250px;
  z-index: 998;
  white-space: nowrap;
}
.main_door .tit p {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.main_door .tit p strong {
  color: #9a1915;
}
.main_door .tit p span {
  color: #9a1915;
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
  margin: 0 5px 0 0;
}
.main_door .tit h2 {
  font-size: 60px;
  font-weight: 700;
  color: #9a1915;
  margin: 0 0 15px 0;
}
.main_door .tit span {
  font-size: 14px;
  font-weight: 300;
  color: #7e7e7e;
}

@media (max-width: 768px) {
  .main_door .tit {
    top: 200px;
  }
  .main_door .tit p {
    font-size: 14px;
  }
  .main_door .tit p span {
    font-size: 20px;
  }
  .main_door .tit h2 {
    font-size: 30px;
  }
  .main_door .tit span {
    font-size: 1.5vw;
  }
}
.main_premium8 {
  background: url(../imges/mp_bg.png) no-repeat center center/cover;
  background-color: #4d4a43;
  padding: 150px 0;
  position: relative;
}
.main_premium8::before {
  content: "";
  position: absolute;
  top: 55.3%;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #7e7e7e;
}
.main_premium8 .inner {
  overflow: hidden;
  position: relative;
}
.main_premium8 .inner::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 25%;
  width: 1px;
  height: 100px;
  background: #7e7e7e;
}
.main_premium8 .inner::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 25%;
  width: 1px;
  height: 100px;
  background: #7e7e7e;
}
.main_premium8 .inner .tit {
  margin: 0 0 80px 0;
}
.main_premium8 .inner .tit p {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 5px 0;
}
.main_premium8 .inner .tit h2 {
  font-size: 60px;
  font-weight: 700;
  color: #efebdd;
}
.main_premium8 .inner .premium8_slide {
  cursor: pointer;
}
.main_premium8 .inner .premium8_slide .p_slide {
  width: 296.5px;
  text-align: center;
}
.main_premium8 .inner .premium8_slide .p_slide img {
  margin: 0 auto 15px auto;
  cursor: pointer;
}
.main_premium8 .inner .premium8_slide .p_slide .txt h3 {
  font-size: 18px;
  font-weight: 500;
  color: #efebdd;
  margin: 0 0 10px 0;
}
.main_premium8 .inner .premium8_slide .p_slide .txt p {
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  line-height: 21px;
}

.main_unit {
  background: url(../imges/mu_bg.jpg) no-repeat center center;
  padding: 250px 0;
}
.main_unit .inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.main_unit .inner .unit_plan {
  width: 100%;
  display: block;
}
.main_unit .inner .unit_plan img {
  margin: 0 0 30px 0;
}
.main_unit .inner .unit_plan p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #2a2a2a;
  margin: 0 0 100px 0;
}
.main_unit .inner .unit_plan span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  position: relative;
}
.main_unit .inner .unit_plan span::before {
  content: "";
  position: absolute;
  top: 45%;
  right: 25px;
  background: #fff;
  width: 50px;
  height: 1px;
}
.main_unit .inner .unit_plan span::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 25px;
  transform: rotate(45deg);
  background: #fff;
  width: 8px;
  height: 1px;
}
.main_unit .inner .unit_plan span a {
  padding: 15px 100px 15px 25px;
  background: #9a1915;
}
.main_unit .inner .unit_slide {
  cursor: pointer;
  overflow: hidden;
}
.main_unit .inner .unit_slide .u_slide {
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .main_unit .inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main_unit .inner .unit_plan {
    grid-column: 1/3;
  }
  .main_unit .inner .unit_slide {
    grid-column: 3/5;
  }
  .main_unit .inner .unit_slide .u_slide {
    padding: 0 15px;
  }
  .main_unit .inner .unit_slide .u_slide img {
    height: 100%;
  }
}
.footer {
  padding: 50px 0;
}
.footer .inner .f_logo {
  text-align: center;
  margin: 0 0 30px 0;
}
.footer .inner .f_coo ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 0 30px 0;
}
.footer .inner .f_coo ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.footer .inner .f_coo ul li img {
  line-height: 30px;
}
.footer .inner .f_copy {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.footer .inner .f_copy span {
  display: block;
  margin: 0 0 5px 0;
  color: rgba(0, 0, 0, 0.3);
}
.footer .inner .f_copy strong {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer .inner .f_logo {
    text-align: left;
  }
  .footer .inner .f_coo ul {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .footer .inner .f_copy {
    text-align: left;
  }
}/*# sourceMappingURL=hill.css.map */